<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- let's give this bitch some style -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
	  </head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="https://github.com/caseyjosephine">github caseyjosephine</a></li>
            <li><a href="https://www.instagram.com/caseyjonoble/">instagram @caseyjonoble</a></li>
            <li><a href="https://www.linkedin.com/in/caseynoble/">linkedin caseynoble</a></li>
			    </ul>
			</footer>
		</body>
	</html>
