{% include head.html %}

<body>
  
{% include nav.html %}  

<section class="header11 cid-rweO5tIvOy mbr-fullscreen" id="header11-7">

    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->

    
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">Cheers!</h1>
            <p class="mbr-text py-3 mbr-fonts-style display-5">
                I’m Casey, and I want to help your winery succeed.
            </p>
            
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<a id="services"></a>

<section class="features11 cid-rweNg8I1jn" id="features11-4">

    <div class="container">

    <h3 class="pb-5 mbr-fonts-style align-center display-5">I got tired of watching wineries make copywriting mistakes that cost them money — so I created a consulting business to help them craft quality writing that sells.</h3>

        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <img src="assets/images/fullsizerender-952x1269.jpg" alt="Casey Jo Noble" title="">
                </div>
                <div class=" align-left aside-content">
                    

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        You need a copywriter who knows the wine industry</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-8">
                                   Don't take chances on a generalist with no wine experience. Work with me if your project requires a wine pro with a proven track record in direct-to-consumer sales. <br><br>I'm a Napa Valley insider who knows how to keep your best customers deeply attached to your brand.<br><br>My services go beyond copywriting: I’m an expert at wrangling data from Wine Direct, AMS, and other popular platforms. Together, we'll mine your data to better understand your target demographics — and write your copy with your best customers in mind.</p>
                            </div>

                                   <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">I'm here to help with:</h4>
                                    </div>

                                        <p class="block-text mbr-fonts-style display-8">
                                    &bull; Email marketing campaigns
                                    <br>&bull; Winery website copy
                                    <br>&bull; Tasting room menus
                                    <br>&bull; Wine club materials
                                    <br>&bull; Direct-to-consumer data analysis
                                    <br>&bull; Wine Direct setup and migration
                                </p>

                                   <p><a class="btn btn-sm btn-primary display-4" href="/contact"><span class="mobi-mbri mobi-mbri-contact-form mbr-iconfont mbr-iconfont-btn"></span>
                    
                    Schedule a Consultation
                </a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>         
</section>

<a id ="about"></a>

<section class="step3 cid-rweUOg9eFo" id="step3-9">

    

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            About Casey Jo</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">
            I'm a lifelong skiier, Star Wars superfan, and world traveler with an indefatigable taste for duck fat. Here's some more relevant information about me.</h3>
        <div class="media-container-row">
            <div class="media-block" style="width: 49%;">
                <div class="mbr-figure">
                    <img src="assets/images/img-760-1024x1365.jpg" alt="" title="">
                </div>
            </div>
            <div class="step-container">
                <div class="card separline pb-4">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5"><strong>Education</strong></h4>
                            <p class="mbr-step-text mbr-fonts-style display-8">
                                <b>MA</b>, Northwestern University, Cognitive Science<br><br><b>BA</b> <i>(with honors)</i>, UC Santa Barbara, English &amp; Psychology<br><br><b>WSET 3</b> <i>(with distinction)</i>, Napa Valley Wine Academy</p>
                        </div>
                    </div>
                </div>

                <div class="card separline pb-4">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                <i class="fas fa-wine-glass-alt"></i>
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5"><strong>Winery Experience</strong></h4>
                            <p class="mbr-step-text mbr-fonts-style display-8">
                                <b>Frog's Leap Winery</b> DTC &amp; Wine Club Associate; Wine Specialist<br>
                               <br><b>Artisan Wines of California</b> Wine Club Manager<br>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5"><strong>Data Science Experience</strong></h4>
                            <p class="mbr-step-text mbr-fonts-style display-8"><b>Fusion Academy Marin</b> Data Analyst<br><br><b>Northwestern University</b> Doctoral Research Associate
                                <br><br><i>Coding Skills</i>: R, SQL, Python, Matlab, Ruby, PHP, CSS, HTML, Git
                                <br><br><i>Data Specialties</i>: Multi-level modeling, emergent behavior modeling, time course analyses, logistical regression, database normalization

                            </p>
                        </div>
                    </div>
                </div>

                

                

                

                

                

                
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
